@model InventoryERP.Web.Models.ForgotPasswordModel
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_SubLayout.cshtml";
}

<div class="container">
    <section class="forgot-password-form-section form-section">
        <div class="forgot-password-form-content">
            <h1 class="page-title">Forgot Password?</h1>

            @if (ViewData["Message"] != null)
            {
                <h4>@ViewData["Message"]</h4>
            }
            else
            { 
                @*if (ViewBag.ErrorMessage != null)
                { 
                    <div class="status-message error">
                        @ViewBag.ErrorMessage
                        <a href="javascript:void(0)" class="close-status-message"><i class="fa fa-times"></i></a>
                    </div>
                }*@
                
                <h4>Enter your email address and we'll email you password.</h4>

                <div class="form forgot-password-form">
                    @using (Html.BeginForm("ForgotPassword","Account", FormMethod.Post, new { id = "frm" }))
                    {
                        <div class="field">
                            @Html.TextBoxFor(x => x.Email, new { @class="inputbox", size="25", placeholder="Email" })
                            <div class="validation-error">
                                @Html.ValidationMessageFor(x => x.Email)                            
                            </div>
                        </div>
                        <div class="field">
                            <button class="btn btn-primary" type="submit">Send</button>&nbsp;&nbsp;
                            <a class="" href="@Url.Action("SignIn","Account")">Cancel</a>
                        </div>
                    }
                </div>
            }
        </div>
    </section>
    <div class="clear"></div>
</div>
