@model SilentAction.Web.Models.ResetPasswordModel
    @{
        ViewBag.Title = "Reset Password";
        Layout = "~/Views/Shared/_SubLayout.cshtml";
    }

    <div class="container">
        <section class="forgot-password-form-section form-section">
            <div class="forgot-password-form-content">
                <h1 class="page-title">Reset Password</h1>

                @if (ViewData["Message"] != null)
                {
                    <h4>@ViewData["Message"]</h4>
                }
                else
                {
                    <div class="form forgot-password-form">
                        @using (Html.BeginRouteForm(MVC.RouteNames.Account.ResetPassword, new { Code = Model.Code, Email = Model.Email }, FormMethod.Post))
                        {
                            @Html.HiddenFor(x => x.Code)
                            @Html.HiddenFor(x => x.Email)

                            <div class="field">
                                @Html.PasswordFor(x => x.Password, new { @class = "inputbox password", size = "25", placeholder = "New Password", value = "" })
                                @Html.ValidationMessageFor(x => x.Password)
                                <div class="password-strength-container noTransition"></div>
                            </div>
                            <div class="field">
                                @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "inputbox", size = "25", placeholder = "Confirm New Password", value = "" })
                                @Html.ValidationMessageFor(x => x.ConfirmPassword)
                            </div>
                            <div class="field">
                                <button class="btn btn-primary" type="submit"><span>Reset</span></button>
                                <div class="clearfix"></div>
                            </div>
                        }
                    </div>
                }
            </div>
        </section>
        <div class="clear"></div>
    </div>
